<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <packageSources>
            <add key="reinago" value="https://nuget.pkg.github.com/reinago/index.json" protocolVersion="3" />
        </packageSources>
        <apikeys>
            <add key="https://nuget.pkg.github.com/reinago/index.json" value="%THE_GITHUB_TOKEN%" />
        </apikeys>
    </config>
</configuration>