<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="reinago" value="https://nuget.pkg.github.com/reinago/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <reinago>
            <add key="Username" value="%THE_GITHUB_TOKEN%" />
            <add key="ClearTextPassword" value="%THE_GITHUB_TOKEN%" />
        </reinago>
    </packageSourceCredentials>
</configuration>
